body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;

}

header {
    background-color:  #ff369b;
    color: black;
    padding: 20px;
    text-align: center;
}

header i{
    font-size: 20px;
    position:absolute;
    left: 20px;
    top: 30px;
    cursor: pointer;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
    outline: solid rgb(189, 8, 221);
}

h2 {
    color: black;
    margin-bottom: 10px;
}

.information, .contact, .form {
    margin-bottom: 20px;
}

.form {
    background: #f7f7f7;
    padding: 15px;
    border-radius: 5px;
}

.form label {
    display: block;
    margin: 10px 0 5px;
}

.form input,
.form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    border-color: rgb(189, 8, 221);
}

.form button {
    background-color: white;
    color: black;
    padding: 10px 15px;
    border-color: rgb(189, 8, 221);
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.form button:hover {
    background-color: rgb(189, 8, 221);
}

footer {
    text-align: center;
    padding: 10px;
    background:#ff369b;
    color: white;
}

footer p{
    margin: 5px 0;
}
