body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
  }
  header {
    background-color: #FF369B;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 30px;
  }
  header h1 {
    margin: 0;
    text-align: center;
  }
  
  header nav {
    margin-top: 10px;
  }
  
  header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; 
    gap: 20px; 
  }
  
  header nav ul li {
    display: inline; 
  }
  
  header nav ul li a {
    color: white; 
    text-decoration: none;
    font-size: 18px; 
    font-weight: bold; 
  }
  
  header nav ul li a:hover {
    color: #2a9d8f;
  }

  .hero {
    background-image: url('fotojahome33.jpg'); 
    background-size: cover; 
    background-position: center;
    height: 400px; 
    border-radius: 50px; 
    padding: 20px; 
    margin: 0 10% 30px;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    color: rgb(189, 8, 221); 
    text-align: left;
  }

  .hero-text-left {
    width: 50%; 
    padding: 0 80px;
    color: rgb(189, 8, 221); 
    margin-left: 0px;
    margin-right: 0px;
  }

  .hero-text-left h2{
    font-size: 30px;
    margin-bottom: 10px;
  }

   footer {
    text-align: center;
    padding: 10px;
    background:#FF369B;
    color: white;
  }
   footer p {
    margin: 5px 0;
    margin-bottom: 30px;
  } 

  