*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial,sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(IMG//fotologin.jpg) center/cover no-repeat;
}
header i{
    font-size: 25px;
    position: absolute;
    left: 20px;
    top: 30px;
    cursor: pointer;
}

header a{
    color: #000;
    text-decoration: none;
}

header a:hover {
    color: #555;
}

header {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 18px;
}
.back-button {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 25px;
}
.wrapper {
    width: 420px;
    border-radius: 20px;
    padding: 30px 40px;
    color: #333;
    border: 1px solid rgb(189,8,221);
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    width:100%;
    height: 50px;
    margin: 30px 0;
}
.input-box input {
    width :100%;
    height: 100%;
    background: #ffff;
    border: none;
    outline: none;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    color:  #333;
    padding:  20px 45px 20px 20px;
}
input-box input ::placeholder {
    color:#fff
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14,5px;
    margin: 10px 0;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
}
.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .buton {
    width :100%;
    height: 45px;
    background: #fff;
    border: none;
    outline:  none;
    border-radius: 40px;
    box-shadow: 40px;
    cursor: pointer;
    font-size: #333;
    font-weight: 600;
}

.wrapper .register-link {
    font-size : 14px;
    text-align: 10px;
    margin: 20px 0 15px;
}

.register-link p a:hover{
    text-decoration: underline;
}
